body {
	background-image: url(/images/background-img.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
}

.wrapper {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	width: 1000px;
	height: fit-content;
	padding: 1% 0%;
	background-color: white;
	border-radius: 20px;
}

.h1 {
	display: flex;
	flex-direction: column;
	font-size: 1.5em;
	font-weight: bold;
	margin: 10px 0px;
	margin-top: 30px;
}

img {
	margin-top: 30px;
	width: 300px;
	padding-bottom: 4%;
}

.apps {
	display: flex;
	gap: 5%;
	color: tomato;
	cursor: pointer;
}


.text {
	width: 40%;
}

.color-btn {
	width: 70px;
	border-radius: 40px;
	height: 30px;
	border: none;
}

#yes {
	background-color: #ff4dd8;
}

#no {
  background-color: #ff8946;
}

h2 {
	background: -webkit-linear-gradient(270deg, #F46C1D -18.18%, #FF4DD8 118.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-size: 50px;
}